---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary-color: #cc9999 !default;
$link-color: #92A58E !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
<div style="background-color:#cfb2b7">
Div content here</div>

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

